<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/focus.css" />  
    <title>Settings</title>
</head>
<body>
  <main>
    <div id="title">
      <h1 id="titleText">Focus</h1>
      <p id="focusText"></p>
      <select name="timer" id="timer">
        <option value="10000" selected>Select time</option>
        <option value="10000">10 seconds</option>
        <option value="300000">5 minutes</option>
        <option value="600000">10 minutes</option>
        <option value="900000">15 minutes</option>
        <option value="1200000">20 minutes</option>
        <option value="1500000">25 minutes</option>
        <option value="1800000">30 minutes</option>
        <option value="2100000">35 minutes</option>
        <option value="2400000">40 minutes</option>
        <option value="2700000">45 minutes</option>
        <option value="3600000">60 minutes</option>
      </select>
      <p id="clock-text" class="big-text medium-margin-top"></p>
      <svg class="hidden" width="300" height="300" id="timer-circle">
        <circle class="" cx="150" cy="150" r="140"/>
      </svg>
      <button id="cancel-timer" class="small-margin-top z-index-1 hidden rounded-corners black-background color-scheme-border border-left-none border-right-none white-text">Cancel</button>
      <div id="submission" class="hidden flex-column eighty-width black-background rounded-corners medium-padding">
        <p>Did you complete your task?</p>
        <button id="focusCompleted" class="button-size-medium rounded-corners black-background color-scheme-border border-left-none border-right-none white-text">Yes</button>
        <button id="focusIncomplete" class="button-size-medium rounded-corners black-background color-scheme-border border-left-none border-right-none white-text">No</button>
      </div>
      <div id="menuWheelHolder">
        <a href="../index.html"></a>
        <svg width="50px" height="50px" id="menu-icon">
          <rect x="10" y="20" width="30" height="25" rx="5" ry="5"/>
          <polygon points="0,25 50,25 25,0 25,0" rx="5" ry="5"/>
        </svg>
      </div>
      <div id="imageCreditsHolder">
        <a id="nasaImgText" href="../view/nasa.html">&copy;</a>
      </div>
    </div>
    
    <img id="backgroundImage">
    
  </main>
  <script src="../src/focus-index.js" type="module"></script>
</body>
</html>