<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css" />  
    <title>Settings</title>
</head>
<body>
  <!--<div id="title">
    <h1>Title</h1>
    <div class="border-style border-top border-left move-top-small"></div>
    <div class="border-style border-top border-left reverse move-left-small"></div>
    <div class="border-style border-bottom border-right"></div>
    <div class="border-style border-bottom border-right reverse"></div>
  </div>-->
  <main>
    <div id="title">
      <h1 id="titleText">Settings</h1>
      <h3>Color Palette</h3>
      <div id="color-palette-holder">
        <button class="color-palette" data-color="blue"></button>
        <button class="color-palette" data-color="orange"></button>
        <button class="color-palette" data-color="red"></button>
        <button class="color-palette" data-color="green"></button>
        <button class="color-palette" data-color="pink"></button>
        <button class="color-palette" data-color="purple"></button>
        <button class="color-palette" data-color="teal"></button>
        <button class="color-palette" data-color="limegreen"></button>
        <button class="color-palette" data-color="cyan"></button>
      </div>
      <p id="color-selected">Color selected:</p>
      <h3>Your Name:</h3>
      <input name="name" id="name-input" placeholder="Enter your name here:" maxlength="12"/>
      <button id="name-submit">Submit</button>
      <p id="tempText"></p>
      <button id="reset-user">Reset Saved Data</button>
      <!--<div class="border-style border-top border-left move-top-small rotate-small-positive"></div>
      <div class="border-style border-bottom border-right flip-item rotate-small-negative"></div>
      <div class="border-style border-bottom border-middle border-wide"></div>-->
      <div id="menuWheelHolder">
        <a href="../index.html"></a>
        <svg width="50px" height="50px" id="menu-icon">
          <rect x="10" y="20" width="30" height="25" rx="5" ry="5"/>
          <polygon points="0,25 50,25 25,0 25,0" rx="5" ry="5"/>
        </svg>
      </div>
      <div id="imageCreditsHolder">
        <a id="nasaImgText" href="../view/nasa.html">&copy;</a>
      </div>
    </div>
    
    <img id="backgroundImage">
    
  </main>
    <script>
            //fetch('https://api.openweathermap.org/data/2.5/weather?lat=33.3703&lon=-112.5838&units=imperial&appid=942be51159fb8974885b140d119e7493').then((response) => response.json()).then((data) => console.log(data));  
    </script>
  <script src="../src/setting-index.js" type="module"></script>
</body>
</html>