:root{
    --primary: #658C8C;
    --secondary: #465959;
    --white: #F2F2F2;
    --gray: #262626;
    --black: #0D0D0D;
}

header {
    text-align: center;
}

h1, p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: var(--primary)
}

body {
    margin: 0;
    background-color: var(--gray)
}

main {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#todo-container {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto;
    row-gap: 15px;
    
}

#todo-container > div {
    position: relative;
    overflow: hidden;
    
    box-shadow: 0px 5px 23px 2px var(--black);
    border-radius: 15px;
    width: 100%;
    height: 50px;
}

.todo {
    background-color: var(--white);
}

#todo-container > div > button {
    height: 25px;
    margin-top: 12.5px;
    color: var(--secondary);
}

#todo-container > div > div {
    width: calc(100% - 120px);
    max-height: 100px;
    margin-left: 50px;
    margin-right: 40px;
    
}

.task {
    color: var(--gray);
}

.submit {
    position: absolute;
    left: 15px;
    height: 25px;
    width: 25px;
    border-radius: 20%;
    border: 2px var(--primary) solid;
}

.remove {
    position: absolute;
    right: 10px;
    top: -3px;
    border: none;
    font-size: 30px;
}

.hidden {
    display: none;
}

.completed {
    background-color: var(--gray);
}

.completed > .submit {
    background-color: var(--primary);
}

.completed > .remove {
    background-color: transparent;
}

.completed > div > p {
    color: var(--white);
    text-decoration: line-through;
}

#create-task {
    border-radius: 15px;
    width: 100%;
    height: 200px;
    background-color: var(--primary);
}

input[type="text"]{
    border: none;
    color: var(--black);
    background-color: transparent;
    width: calc(100% - 70px);
    margin-left: 10px;
    height: 48px;
}


#task-create-container {
    position: relative;
    background-color: var(--white);
    border-bottom: 4px var(--primary) solid;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    height: 50px;
    width: 90%;
}

#new-button {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: transparent;
    border: none;
    color: var(--primary);
    font-size: 50px;
}


#filter-button {
    position: absolute;
    left: -32.5%;
}

footer > p {
    text-align: center;
}

footer {
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 25px;
}