body {
    background-color: black;
    margin: 0;
}

:root {
    --color-selection: black;
}

main {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: monaco, "Courier New", monospace;
}

p, li, label {
    font-family: "Lucida Console", "Courier New", monospace;
}

.small-text {
    font-size: 14px;
}

input[type="radio"]{
    display: flex;
    flex-direction: column;
    position: relative;
    top:-18px;
    left: 50px;
}

input[type="radio"]:checked::before{
    content: ' ';
    margin-left: 50%;
    position: relative;
    width: 15px;
    left: -8px;
    height: 15px;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0px 0px 25px var(--color-selection), inset 0px 0px 5px var(--color-selection);
}



#imgContainer{
    position: fixed;
    width: 99vw;
    height: 99vh;
}

#backgroundImage{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit:fill;
}

#title {
    z-index: 1;
    height: 100vh;
    position: relative;
    display: flex;
    margin-left: 20vw;
    align-items: center;
    flex-direction: column;
    width: 60vw;
}

#title > h1 {
    color: var(--color-selection);
    text-align: center;
    padding-top: 25px;
    width: 100%;
    padding-bottom: 25px;
}

#tempHolder {
    position: fixed;
    left: 30px;
    top: 10px;
}

#tempHolder > p {
    font-size: 20px;
}

#imageCreditsHolder {
    position: fixed;
    left: 30px;
    bottom: 10px;
}

#imageCreditsHolder a{
    text-decoration: underline;
    color: white;
}

#menuWheelHolder {
    position: fixed;
    bottom: 25px;
    right: 40px;
    width: 50px;
    height: 50px;
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 50px;
}

#menuButton {
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: transparent;
    /*color: white;
    box-shadow: inset 0 0 10px yellow, 0 0 10px yellow;
    outline: 2px solid yellow;
    background-color: var(--color-selection);*/
}

#menuWheelHolder svg {
    grid-column: 1;
    grid-row: 1;
    
}

.x rect:nth-child(1){
    transform: translate(10px, 10px) rotate(45deg);
}

.x rect:nth-child(2){
    width: 0;
}

.x rect:nth-child(3){
    transform: translate(72px, 43px) rotate(135deg);
}

#menuWheel {
    transform-origin: 230px 253px;
    overflow: hidden;
    transform: translateX(300px) rotate(90deg);
    width: 340px;
    height: 340px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-rows: repeat(30, 10px);
    grid-template-columns: repeat(30, 10px);
}

#menuWheel > button {
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: transparent;
    /*box-shadow: inset 0 0 10px transparent, 0 0 10px transparent;
    outline: 2px solid transparent;
    background-color: var(--color-selection);*/
    grid-row: 3;
    grid-column: 2;
    transition: background-color 1s, outline 1s, box-shadow 1s;
}

#menuWheel a:nth-child(3){
    grid-column: 24;
    grid-row: 5;
    
}

#menuWheel a:nth-child(4){
    grid-column: 11;
    grid-row: 13;
    
}

#menuWheel a:nth-child(2){
    grid-column: 5;
    grid-row: 27;
}

#menuWheel svg:nth-child(5){
    grid-column: 5;
    grid-row: 27;
}

#menuWheel svg:nth-child(6){
    grid-column: 24;
    grid-row: 5;
}

#menuWheel svg:nth-child(7){
    grid-column: 11;
    grid-row: 13;
}



#menuWheel > .line {
    width: 180px;
    height: 2px;
    border: none;
    background-color: yellow;
    border-bottom: 5px solid yellow;
    box-shadow: 0 0 10px yellow;
    border-radius: 0;
}


#menuWheel button:hover{
    background-color: gray;
    opacity: .25;
    outline: 2px solid gray;
    box-shadow: inset 0 0 10px gray, 0 0 10px gray;
}

#menuWheel > div {
    margin: 0px;
    box-shadow: 0 0 30px transparent, inset 0 0 30px transparent;
    border-radius: 300px;
    background-color: transparent;
    border: 100px solid black;  
    width: 300px;
    height: 300px;
    grid-row: 3;
    grid-column: 3;
    box-shadow: 0px 0px 25px var(--color-selection), inset 0px 0px 25px var(--color-selection);
}

.visible {
    animation-name: rotateWheelBack;
    animation-duration: .75s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.invisible {
    animation-name: rotateWheel;
    animation-duration: .75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes rotateWheel {
    0% {transform: rotate(0deg) ;}
    100% {transform: rotate(145deg) translateX(-110px) translateY(-13px);}
}

@keyframes rotateWheelBack {
    0% {transform: rotate(145deg) translateX(-110px) translateY(-13px);}
    100% {transform: rotate(0deg) ;}
    
}
.chip {
    border-radius: 15px;
    background-color: black;
    color: white;
    transition: background-color .25s ease, color .25s ease;
}

.button-size-medium {
    width: 80px;
    height: 30px;
    font-size: 18px;
    border: none;
}

.chip:hover{
    background-color: #171717;
}

.selected {
    background-color: white;
    color: var(--color-selection);
    border: none;
    transition: background-color .25s ease, color .25s ease;
}

.selected:hover {
    background-color: #171717;
    color: white;
}


svg > rect {
    fill: var(--color-selection);
}

svg > circle {
    stroke: var(--color-selection);
}

#break-icon rect:nth-child(1){
    fill: black;
}

#color-palette-holder {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(calc(3), 30%);
    column-gap: 3%;
    row-gap: 5px;
    grid-template-rows: repeat(calc(3), 25px);
}

#color-palette-holder > button {
    width: 100%;
    height: 25px;
    border-radius: 15px;
    border: none;
}

h3, p {
    color: white;
}

polygon {
    fill: var(--color-selection);
}

#menuWheelHolder > a {
    width: 50px;
    height: 50px;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

#refresh-icon {
    border-radius: 25px;
    margin-top: 15px;
    border: 2px solid var(--color-selection);
}

#refresh-icon circle:nth-child(1){
    fill: none;
    stroke-width: 5px;
    stroke-dasharray: 0px 20px 65px;
    stroke: var(--color-selection);
}

#refresh-icon rect:nth-child(2){
    fill: none;
    transform: rotate(30deg) translate(10px, -22px);
}

#refresh-icon > polygon {
    fill: var(--color-selection);
    transform: rotate(30deg) translate(10px, -22px);
}

#refresh-icon:hover{
    animation-name: rotateRefresh;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}


@keyframes rotateRefresh{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
/***********************************
Atomic CSS classes for general use
***********************************/

.color-scheme-border {
    border-bottom: 2px solid var(--color-selection);
    border-top: 2px solid var(--color-selection);
    box-shadow: 0px 0px 25px var(--color-selection), inset 0px 0px 25px var(--color-selection);
}

.white-border {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    box-shadow: 0px 0px 25px white, inset 0px 0px 25px white;
}
.opacity-0 {
    opacity: 0;
}

.z-index-1 {
    z-index: 1;
}
.hidden {
    display: none;
}

.border-left-none {
    border-left: none;
}
.border-right-none {
    border-right: none;
}

.black-background {
    background-color: rgba(0,0,0,1);
}

.white-text {
    color: white;
}

.big-text {
    font-size: 32px;
}

.small-padding {
    padding: 5px;
}

.medium-padding {
    padding: 25px;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.row-3 {
    grid-template-rows: repeat(3, 1fr);
}

.flex-column {
    flex-direction: column;
}

.rounded-corners {
    border-radius: 15px;
}

.eighty-width{
    width: 80%;
    max-width: 150px;
}

.hundred-width{
    width: 100%;
    max-width: 150px;
}

.small-margin-top {
    margin-top: 25px;
}

.medium-margin-top {
    margin-top: 50px;
}

.medium-height{
    height: 50px;
}

.gray {
    background-color: gray;
}

.circle-sides {
    border-radius: 500px;
}


.color-scheme-text {
    color: var(--color-selection)
}

.centered-text{
    text-align: center;
}

.remove-border {
    border: none;
}

.small-border-bottom-white {
    border-bottom: 2px solid white;
}

.center-in-div {
    margin-right: 0;
}


@media screen and (min-width: 480px) {
    .eighty-width{
        width: 80%;
        max-width: 300px;
    }
    
    .hundred-width{
        width: 100%;
        max-width: 300px;
    }
  }